.book-table {
  &__form {
    margin: 25px 0;
  }

  &__form .input {
    flex: 0 0 49%;
  }

  &__timetable {
    margin: 0 auto;
  }
}

.book-table .section {
  justify-content: space-between;
}

.book-table .section__content {
  padding: 0;
}

@media (max-width: 1000px) {
  .book-table .section__content {
    flex: 0 0 60%;
  }
  .book-table .section__image {
    flex: 0 0 38%;
  }
}

@media (max-width: 750px) {
  .book-table .section {
    flex-direction: column;
  }

  .book-table {
    padding: 25px 0;
  }

  .book-table .section__image {
    display: none;
  }
}

@media (max-width: 480px) {
  .book-table .section__image {
    max-width: 75%;
  }
}

@media (max-width: 450px) {
  .book-table {
    &__form .input {
      flex: 0 0 100%;
    }
  }
}