.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__button {
    flex: 0 0 100%;
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.input {
  min-width: 0;
  box-sizing: border-box;
  background: $color-gray;
  border: none;
  border-radius: 5px;
  padding: 1.3em 1em;
  flex: 0 0 100%;
  margin-bottom: 1em;

  &--area {
    resize: none;
  }

  &:focus {
    outline: none;
  }
}