.gallery {
  padding-bottom: 25px;
  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__image{
    flex-shrink: 0;
  }

  &__image img {
    display: block;
    max-width: 100%;
  }
}