.header {
  background: url("../assets/img/jpg/header-bg.jpg");
  background-repeat: repeat-x;

  &__logo {
    display: block;
    fill: $color-gold;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding: 2vw 0 0 0;

    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  &__main-title {
    margin-bottom: 0.65em;
  }

  &__subtitle {
    margin-bottom: 2em;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    flex-grow: 1;
    padding-top: 100px;
  }

  &__col {
    flex: 0 0 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &--main {
      overflow: hidden;
      flex: 0 0 66%;
      padding: calc(9vw + 50px) 0 0 0;

      border-right: 1px solid $color-lightgray-2;
      border-left: 1px solid $color-lightgray-2;
    }
  }

  &__timetable {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform-origin: 0 0;
    transform: rotate(-90deg) translateX(-50%);
    white-space: nowrap;
  }

  &__buttons {
    display: flex;
  }

  &__buttons button:first-child {
    margin-right: 3em;
  }

  &__button-down {
    margin: 4vw auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid $color-lightgray-2;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    &:before {
      content: '';
      background: $color-lightgray-2;
      height: 23vw;
      width: 1px;
      position: absolute;
      top: -23vw;
      left: 50%;
      transform: translateX(-50%);
    }

    &:after {
      content: '';
      background: $color-lightgray-2;
      height: 100px;
      width: 1px;
      position: absolute;
      bottom: -100px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__socials {
    align-items: flex-end;
  }
}

@media (max-width: 1350px) {
  .header {
    &__col {
      flex: 0 0 10%;

      &--main {
        flex: 0 0 80%;
      }
    }
  }
}

@media (max-width: 1023px) {
  .header {

    &__row {
      flex-direction: column;
      padding-top: 80px;
    }

    &__timetable {
      transform: none;
      padding: 25px 0;
      position: static;
    }

    &__socials {
      padding: 25px 0;
      flex-direction: row;
    }

    &__socials .button:not(:last-of-type) {
      margin-bottom: 0;
      margin-right: 25px;
    }

    &__col {
      order: 2;

      &--main {
        flex: 0 0 100%;
        border-right: none;
        border-left: none;
        order: 1;
      }
    }

    &__button-down {
      border: 1px solid $color-lightgray-2;

      &:before {
        content: '';
        display: none;
      }

      &:after {
        content: '';
        display: none;
      }
    }
  }
  .header__main-title {
    font-size: 80px;
    margin-bottom: 60px;
  }
  .header__subtitle {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .header .text-size--3 {
    font-size: 60px;
  }
  .header {
    &__logo {
      width: 100px;
      height: 100px;
    }

    &__col {
      &--main {
        padding-top: 75px;
      }
    }

    &__buttons {
      flex-direction: column;
    }

    &__buttons button:first-child {
      margin-right: 0;
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 550px) {
  .header .text-size--3 {
    font-size: 45px;
    text-align: center;
  }
}