.main-title {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 30px;

  &:after {
    content: '';
    background: $color-gold;
    width: 60px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
}