.slider-container {
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  width: 100%;
}

.slider-pagination {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.slider-bullet {
  display: block;
  width: 10px;
  height: 10px;
  background: $color-gray;
  border-radius: 50%;

  &--active {
    background: $color-gold;
  }
}

.slider-bullet:not(:last-of-type) {
  margin-right: 15px;
}

.slide {
  width: 100%;
  display: flex;
  flex-shrink: 0;
}