.specialties {
  background-image: url('../assets/img/jpg/specialtybg.jpg');
  background-repeat: no-repeat;
}

.specialties .section {
  padding: 25px 15px;
}

//.section__image {
//  padding-left: 50px;
//}

.specialties .section__content {
  padding: 0;
}

@media (max-width: 840px) {
  .specialties .text-size--2 {
    font-size: 28px;
  }
  .specialties .section__title {
    margin-bottom: 25px;
  }
}

@media (max-width: 750px) {
  .specialties .section__title {
    margin-bottom: 0;
  }
  .section__image {
    max-width: 55%;
    margin: 0 auto;
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  .section__image {
    max-width: 75%;
  }
}