@import '~normalize.css';
@import "vars";
@import "mixins";
@import "fonts";
@import "icon";
@import "animate";
@import "container";
@import "section";
@import "button";
@import "text";
@import "main";
@import "menu";
@import "header";
@import "decor";
@import "our-team";
@import "form";
@import "book-table";
@import "specialties";
@import "menu-list";
@import "slider";
@import "events";
@import "dish";
@import "gallery";
@import "contact";
@import "map";
@import "footer";

.wrapper {
  max-width: 1440px;
  margin: 0 auto;

  position: relative;
  overflow: hidden;
}



